/*Background alignment*/
html, body {
  height: 100%;
}

body {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("../img/background.jpg");
}

/*rule used to hide and reveal elements*/
.hidden {
  display: none;
}

/*layout of the results*/
#resultImg {
  width: 60%;
}

/*sytling for form and result fields*/
form,
#formSix,
#resultsContainer {
  color: black;
  border-radius: 10px;
  background-color: grey;
  padding: 5px 15px;
}

#resultsContainer {
  margin-top: 20px;
}

/*fix layout of reset button, was hitting top of page*/
#beginAgainSubmit {
  margin-top: 20px;
}

/*styling for the page logo at top*/
.inner {
  display: inline-block;
  margin: 50px auto;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
  background-color: grey;
  color: black;
  font-weight: bolder;
}
